canvas {
    cursor: default;
    outline: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #191919;
    margin: 0px;
    padding: 0px;
}

.gdx-meter.blue > span {
    background-color: #0F0C90 !important;
    background-image: -moz-linear-gradient(top, #4087BF, #03ACFF) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4087BF),color-stop(1, #03ACFF)) !important;
    background-image: -webkit-linear-gradient(#4087BF, #03ACFF) !important;
}

.gdx-meter { 
    max-width: 100% !important;
}